div.row {
  background-color: rgba(0, 0, 0, 0.9) !important;
  text-align: center !important;
}

h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.5px;
  margin-top: 15px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 30px;
}

h1#sub {
  color: black;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.5px;
  border: none;
  font-size: 15px;
}

th {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.5px;
  font-size: 12px;
}

div#textoEsquerdo01 {
  margin-top: 10px;
}

div#maisVotadas {
  background-color: bisque;
}

div#geral {
  background-color: bisque;
}

.fuller-button {
  color: rgba(255, 255, 255, 1);
  background: none;
  border-radius: 0;
  padding: 1.2em 5em;
  letter-spacing: 0.35em;
  font-size: 0.7em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  margin: 1em;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;

  &.blue {
    box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
    border: rgba(0, 221, 221, 0.486) solid 2px;
    background-color: rgba(0, 170, 170, 0) !important;
  }

  &.blue:hover {
    background-color: #0dd;
    box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
  }

  &.red {
    box-shadow: inset 0 0 1em rgba(251, 81, 81, 0.4), 0 0 1em rgba(251, 81, 81, 0.4);
    border: #fb5454 solid 2px;
    background-color: rgba(0, 170, 170, 0) !important;
  }

  &.red:hover {
    background-color: #fb5454;
    box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4), 0 0 1.5em rgba(251, 81, 81, 0.6);
  }

  &.yellow {
    box-shadow: inset 0 0 1em rgba(251, 81, 81, 0.4), 0 0 1em rgba(251, 81, 81, 0.4);
    border: #f39d1c solid 2px;
    background-color: rgba(0, 170, 170, 0) !important;
  }

  &.yellow:hover {
    background-color: #e98819;
    box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4), 0 0 1.5em rgba(251, 81, 81, 0.6);
  }

  &.white {
    box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255, 255, 255, 0.3);
    border: #fff solid 2px;
  }

  &.white:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
  }
}

.modal-content {
  height: 850px;
  width: 1800px;
  right: 650px;
  background-color: rgba(14, 9, 5,1);
  overflow-y: scroll;
}

html,
body {
  background-color: #333;
}

ul#campeoes {
  display: table;
  padding: 10px 0 10px 0;
  list-style: none;
  width: 1800px;
  margin: 0 auto;
  &:hover li {
    opacity: 0.8;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  li {
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    float: left;
    margin: 100px;
    width: 150px;
    height: 150px;
    opacity: 1;
    transition: all 0.3s linear;
    &:hover {
      box-shadow: 0 5px 15px gba(0, 0, 0, 0.4);
      opacity: 1;
      transform: scale(1.08);
      -webkit-filter: blur(0);
      filter: blur(0);
    }
  }
  flex-direction: row;
}

img {
  max-width: 300px;
  max-height: 250px;
  width: auto;
  height: auto;
  border-color: #e98819;
}

img#rotas{
  max-width: 50px;
  max-height: 50px;
  margin-left: 60px
}

::-webkit-scrollbar {
  width: 0px;
}

.dropdown .dropdown-menu{
  max-height:250px;
  overflow: scroll;
  background-color: #e98819;
}

button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border: none;
  font-size: 15px;
}

