div#login {
  margin-top: 200px;
}

div.card {
  background-color: rgba(0, 0, 0, 0.7);
}

div#cadastro {
  text-decoration-color: cornflowerblue;
}

a#cadastro {
  color: darkgoldenrod;
}

div.card-header h3 {
  color: aquamarine;
}

b#info {
  color: aquamarine;
  font-size: 15px;
}

.btnEntrar {
  width: 130px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-left: 98px;
}

.btnEntrar:hover {
  background-color: rgb(248, 193, 12);
  box-shadow: 0px 15px 20px rgba(243, 133, 7, 0.4);
  color: rgb(0, 0, 0);
  transform: translateY(-7px);
}

@keyframes jinxAnimation {
  from {
    left: 0;
  }
  to {
    right: 830;
  }
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

img#jinxVrau {
  height: 300px;
  width: 500px;
  z-index: 4;
  position: absolute;
  left: -830px;
  animation-name: jinxAnimation;
  animation-duration: 3s;
  bottom: -230px
}

