<header class="h-100">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" [containerInside]="true" id="navBar" class="navCss">
        <mdb-navbar-brand>
            <button class="pure-button fuller-button yellow" (click)="navegarParaPrincipal()"><i class="fa fa-home">COMPUILDER</i></button>
        </mdb-navbar-brand>
        <ul class="navbar-nav mr-auto" id="rightItems">
            <li class="nav-item waves-light">
                <button class="pure-button fuller-button yellow" id="btnRedeSocial" onclick="location.href='https:\\github.com/raibm'"><a class="fab fa-github"
                       ></a></button>
            </li>
            <li class="nav-item waves-light">
                <button class="pure-button fuller-button yellow" id="btnRedeSocial" onclick="location.href='https:\\www.linkedin.com/in/rai-bizerra-maciel-6b4552155/'"><a class="fab fa-linkedin"
                       ></a></button>
            </li>
            <li class="nav-item waves-light">
                <button *ngIf="verificarUsuarioLogado()" class="pure-button fuller-button yellow" id="btnRedeSocial" (click)="deslogar()"><a class="fas fa-backspace"
                       >DESLOGAR</a></button>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" mdbWavesEffect>
                <img id="iconeUsuarioLogado" [src]="definirAvatarInvocador()" class="rounded mx-auto d-block" alt="...">
                <a id="nomeUsuario">{{ definirUsuarioLogado() }}</a>
            </li>
        </ul>
    </mdb-navbar>

    <div class="container">
        <footer>
            <a>&copy; Copyright 2019 Rai Bizerra Maciel</a></footer>
    </div>
    
</header>
<div fxLayout="row" fxFlex="100">
    <div class="content" fxLayout="column" fxFlex>
        <router-outlet></router-outlet>
    </div>

</div>

<div class="container">
    <video autoplay id="video"  muted loop="true">
        <source src="../assets/Odiseia.mp4" type="video/mp4">
    </video>
</div>