<header class="h-100">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" [containerInside]="true" id="navBar" class="navCss">
        <mdb-navbar-brand>
                <button class="pure-button fuller-button yellow"><i class="fa fa-home">COMPUILDER</i></button>
        </mdb-navbar-brand>
        <ul class="navbar-nav mr-auto" id="rightItems">
            <li class="nav-item waves-light">
                <button class="pure-button fuller-button yellow"  id="btnRedeSocial"><i class="fab fa-github"></i></button>     
            </li>
            <li class="nav-item waves-light">
                <button class="pure-button fuller-button yellow"  id="btnRedeSocial"><i class="fab fa-linkedin"></i></button>     
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" mdbWavesEffect>
                <button class="pure-button fuller-button yellow"><mdb-icon fas icon="book-open"></mdb-icon></button>
            </li>
        </ul>
    </mdb-navbar>
    <div class="container">
        <video id="video" autoplay muted loop="true">
            <source src="../assets/Odiseia.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container">
        <footer><a>&copy; Copyright 2019 Rai Bizerra Maciel</a></footer>
    </div>
</header>
<div fxLayout="row" fxFlex="100">
    <div class="content" fxLayout="column" fxFlex>
        <router-outlet></router-outlet>
    </div>
</div>