#teste {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }

  #navBar{
      z-index: 2;
      color: black;
  }

  a#btnRedeSocial{
      margin: 2px;
  }

  footer a{
      z-index: 2;
      font-family: cursive;
      color: darkgoldenrod;
      position: absolute;
      bottom: 0;
      right: 50px;
  }

  ul#rightItems{
      margin-left: 700px;
  }

  ::ng-deep .navCss nav
  {
        background-color: rgba(0, 0, 0, 0.7)!important;
  }