<header class="h-100">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black" [containerInside]="true" id="navBar">
        <mdb-navbar-brand>
            <button mdbBtn type="button" gradient="peach" size="lg" mdbWavesEffect>COMPUILDER</button>
          </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <button mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>COMPS</button>

                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <button mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>SOBRE</button>
                  </li>
            </ul>
        </links>
        <a mdbBtn floating="true" size="lg" gradient="purple" mdbWavesEffect>
            <i class="fab fa-github"></i></a>
            <a mdbBtn floating="true" size="lg" gradient="purple" mdbWavesEffect>
                <i class="fab fa-linkedin"></i></a>

    </mdb-navbar>
    
</header>
  <main>

    <div class="container">
            <video id="teste" autoplay muted loop="true">
                <source src="../assets/Odiseia.mp4" type="video/mp4">
            </video>
    </div>

  </main>
