
<div class="container" id="cadastro">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Cadastro</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <p>Junte-se a outros jogadores e traga sua estratégia para o Nexus!</p>

                <div class="md-form md-bg">
                    <input [(ngModel)]="nome" type="text" id="formBg1" class="form-control" mdbInput ngDefaultControl>
                    <label for="formBg1">Nome</label>
                </div>

                <div class="md-form md-bg">
                    <input [(ngModel)]="email" type="email" id="formBg2" class="form-control" mdbInput ngDefaultControl>
                    <label for="formBg2">E-mail</label>
                </div>

                <div class="md-form md-bg">
                    <input [(ngModel)]="senha" type="password" id="formBg3" class="form-control" mdbInput ngDefaultControl>
                    <label for="formBg3">Senha</label>
                </div>
                <div class="md-form md-bg">
                    <button class="pure-button fuller-button blue" id="btnRedeSocial" data-target="#basicExample"
                        (click)="frame.show()" mdbWavesEffect>AVATAR</button>
                </div>
                <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="container">
                                <div class="row">
                                    <a data-toggle="lightbox" (click)="definirValorAvatar(1)"
                                        data-gallery="gallery" class="col-md-4">
                                        <img src="../../assets/Ezreal.png" class="img-fluid rounded">
                                    </a>
                                    <a  data-toggle="lightbox" (click)="definirValorAvatar(2)"
                                        data-gallery="gallery" class="col-md-4">
                                        <img src="../../assets/Jinx.png" class="img-fluid rounded">
                                    </a>
                                    <a  data-toggle="lightbox" (click)="definirValorAvatar(3)"
                                        data-gallery="gallery" class="col-md-4">
                                        <img src="../../assets/Lux.png" class="img-fluid rounded">
                                    </a>
                                </div>
                                <div class="row">
                                    <a  data-toggle="lightbox" (click)="definirValorAvatar(4)"
                                        data-gallery="gallery" class="col-md-4">
                                        <img src="../../assets/Miss_Fortuness.png" class="img-fluid rounded">
                                    </a>
                                    <a  data-toggle="lightbox" (click)="definirValorAvatar(5)"
                                        data-gallery="gallery" class="col-md-4">
                                        <img src="../../assets/Pyke.png" class="img-fluid rounded">
                                    </a>
                                    <a  data-toggle="lightbox" (click)="definirValorAvatar(6)"
                                        data-gallery="gallery" class="col-md-4">
                                        <img src="../../assets/Sylas.png" class="img-fluid rounded">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <button type="button" id="btnVoltar" class="botaoVoltar"
                            (click)="navegarLogin()">Voltar</button>
                        <button type="button" id="btnValidar" class="botaoValidar"
                            (click)="criarPerfil()">Validar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>