div#login{
    margin-top: 200px;
}

div.card{
  background-color: rgba(0, 0, 0, 0.7);
}

div#cadastro{
    text-decoration-color: cornflowerblue;
}

a#cadastro{
    color: darkgoldenrod
}

div.card-header h3{
    color: aquamarine;
}

button#btnEntrar{
  margin-left: 130px;
}

b#info{
    color: aquamarine;
    font-size: 15px
}