=
<div class="container" id="cadastro">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Cadastro</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <p>Junte-se a outros jogadores e traga sua estratégia para o Nexus!</p>

                <div class="md-form md-bg">
                    <input type="text" id="formBg1" class="form-control" mdbInput>
                    <label for="formBg1">Nome</label>
                </div>

                <div class="md-form md-bg">
                    <input type="email" id="formBg1" class="form-control" mdbInput>
                    <label for="formBg1">E-mail</label>
                </div>

                <div class="md-form md-bg">
                    <input type="password" id="formBg1" class="form-control" mdbInput>
                    <label for="formBg1">Senha</label>
                </div>
                <div class="form-group">
                    <div class="row">
                        <button type="button" gradient="sunny-morning" rounded="true"
                        id="btnVoltar" class="botaoVoltar">Voltar</button>
                        <button type="button" gradient="sunny-morning" rounded="true"
                            id="btnVoltar" class="botaoValidar">Validar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>