div#cadastro{
    margin-top: 150px;
}

div.card{
  background-color: rgba(0, 0, 0, 0.7);
}

div#cadastro{
    text-decoration-color: cornflowerblue;
}

a#cadastro{
    color: darkgoldenrod
}

p{
    color: rgb(230, 173, 31);
    background-color: rgba(0, 0, 0, 0.4);
}

div.card-header h3{
    color: aquamarine;
}

button#btnPronto{
  margin-left: 220px;
}

b#info{
    color: aquamarine;
    font-size: 15px
}
  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .botaoVoltar {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 170px;
    }

  .botaoValidar {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 15px;
    }
  
  .botaoValidar:hover {
    background-color: rgb(248, 193, 12);
    box-shadow: 0px 15px 20px rgba(243, 133, 7, 0.4);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
  }
    