div.row {
  background-color: rgba(0, 0, 0, 0.9) !important;
  text-align: center !important;
}

img {
  width: 600px;
  height: 500px;
  margin-top: 15px;
}

h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 15px;
}

div#textoEsquerdo01{
  margin-top: 10px;
}
